<div class="banner">
    <div class="major-heading">
        Start your coding journey today
    </div>
    <div class="subheading">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure in nihil optio atque et beatae quasi, voluptas, tempora iusto quam, corrupti provident qui corporis a animi assumenda quisquam quos neque.
    </div>
    <div class="input-section">
        <div class="input">
            <input type="email" placeholder="abc@gmail.com">
        </div>
        <div class="button">
            <button>Start your journey</button>
        </div>
    </div>
</div>
